h1 {
    color: white;
    font-size: 50px;
}

body {
    background-color: #470A07;
}

button {
    border: none;
    background: none;
    margin: none;
    padding: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

div button{
    border: none;
    background: none;
    margin: none;
    padding: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}