h1 {
    color: white;
    font-size: 50px;
    padding-top: 0px;
    padding-left: 0px;
}

body {
    background-color: #470A07;
}

button {
    border: none;
    background: none;
    margin: none;
    padding: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

/* this is for the 'back' buttons */
div button {
    border: none;
    background: none;
    margin: none;
    padding: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 870; left: 10;
}

display {
    display: grid;
    margin: auto;
    background-color: white;
    height: 80%; width: 99%;
}

.user h3 {
    color: white;
}