h1 {
    color: white;
}

body {
    background-color: #470A07;
}

button.menu {
    border: none;
    background: none;
    margin: none;
    padding: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

button.back {
    border: none;
    background: none;
    margin: none;
    padding: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
}